body {
  background-color: #dbd9d9;
}

.main .calculator {
  text-align: center;
  position: relative;
  background-color: #a3a1a1;
  color: white;
  width: 350px;
  height: 410px;
  margin: 50px auto;
  padding: 0 auto;
  box-shadow: -4px 2px 4px 4px gray, 3px -3px 10px 3px #282828 inset;
  border-radius: 10%;
}
.main .calculator h3 {
  padding: 10px 0 0 0;
  margin: 0;
  color: black;
  font-family: Orbitron, sans-serif;
  margin: 5px 0 30px 0;
}
.main .calculator .screen {
  margin: 0 auto;
  width: 280px;
  height: 60px;
  background-color: #c3c6c0;
  font-weight: bold;
  font-family: Orbitron, sans-serif;
  border-radius: 5%;
  box-shadow: 1px -1px 1px 2px gray inset;
}
.main .calculator .screen .results {
  text-align: center;
  color: black;
  padding: 15px 0 0 0;
  line-height: 10%;
  font-size: 1.5em;
}
.main .calculator .screen .processed {
  text-align: right;
  color: gray;
  line-height: 80%;
  padding: 0 5px 0 0;
  font-size: 1.2em;
}

.allButtons {
  position: relative;
  margin: 0 auto;
  padding: 5px;
}
.allButtons .eachButton {
  background-color: #1e1e1e;
  color: white;
  font-weight: bold;
  font-size: 2em;
  font-family: Orbitron, sans-serif;
  margin: auto 5px;
  padding: 0 0 40px 0;
  position: absolute;
  width: 50px;
  height: 30px;
  border-radius: 20%;
  border: 1px solid #1e1e1e;
  box-shadow: 1px -1px 3px 2px #3f3e3e inset;
}
.allButtons .buttonZero {
  right: 210px;
  top: 200px;
  width: 110px;
  height: 30px;
}
.allButtons .buttonOne {
  right: 270px;
  top: 150px;
}
.allButtons .buttonTwo {
  right: 210px;
  top: 150px;
}
.allButtons .buttonThree {
  right: 150px;
  top: 150px;
}
.allButtons .buttonFour {
  right: 270px;
  top: 100px;
}
.allButtons .buttonFive {
  right: 210px;
  top: 100px;
}
.allButtons .buttonSix {
  right: 150px;
  top: 100px;
}
.allButtons .buttonSeven {
  right: 270px;
  top: 50px;
}
.allButtons .buttonEight {
  right: 210px;
  top: 50px;
}
.allButtons .buttonNine {
  right: 150px;
  top: 50px;
}
.allButtons .buttonTimes {
  right: 90px;
  top: 100px;
}
.allButtons .buttonDivide {
  right: 90px;
  top: 50px;
}
.allButtons .buttonMinus {
  right: 90px;
  top: 150px;
}
.allButtons .buttonDot {
  right: 150px;
  top: 200px;
}
.allButtons .buttonPlus {
  right: 90px;
  top: 200px;
}
.allButtons .buttonResult {
  right: 30px;
  top: 150px;
  height: 92px;
  padding: 10px 0 10px 0;
}
.allButtons .buttonC {
  right: 30px;
  top: 50px;
  height: 92px;
  padding: 10px 0 10px 0;
  background-color: #ba0000;
}

.eachButton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.eachButton:focus {
  outline-color: transparent;
}

.signature {
  text-align: center;
}
.signature span {
  font-weight: bold;
  text-decoration: none;
}
