div(class="main container-fluid")
   .calculator 
        h3 Simple Calculator
        .screen
          p.results 0
          p.processed 
        .allButtons    
          button#zero.buttonZero.eachButton(value='0') 0
          button#one.buttonOne.eachButton(value='1') 1
          button#two.buttonTwo.eachButton(value='2') 2
          button#three.buttonThree.eachButton(value='3') 3
          button#four.buttonFour.eachButton(value='4') 4
          button#five.buttonFive.eachButton(value='5') 5
          button#six.buttonSix.eachButton(value='6') 6
          button#seven.buttonSeven.eachButton(value='7') 7
          button#eight.buttonEight.eachButton(value='8') 8
          button#nine.buttonNine.eachButton(value='9') 9
          button#multiplication.buttonTimes.eachButton(value='*') *
          button#division.buttonDivide.eachButton(value='/') /    
          button#subtraction.buttonMinus.eachButton(value='-') -
          button#addition.buttonPlus.eachButton(value='+') +
          button#dot.buttonDot.eachButton(value='.') .
          button#equal.buttonResult.eachButton(value='=', onclick='calc(value)') =
          button#clear.buttonC.eachButton(value='clear', onclick='calc(value)') C
          
.signature COPYRIGHT © 2017 by 
  a(href = 'https://github.com/paulo-raoni/simple-calculator' target = '_blank')
    span PAULO RAONI
  
