div(class="main container-fluid")
   .calculator 
        h3 Simple Calculator
        .screen
          p.results 0
          p.processed 
        .allButtons    
          button.buttonZero.eachButton(value = 0) 0
          button.buttonOne.eachButton(value = 1) 1
          button.buttonTwo.eachButton(value = 2) 2
          button.buttonThree.eachButton(value = 3) 3
          button.buttonFour.eachButton(value = 4) 4
          button.buttonFive.eachButton(value = 5) 5
          button.buttonSix.eachButton(value = 6) 6
          button.buttonSeven.eachButton(value = 7) 7
          button.buttonEight.eachButton(value = 8) 8
          button.buttonNine.eachButton(value = 9) 9
          button.buttonTimes.eachButton(value = '*') *
          button.buttonDivide.eachButton(value = '/') /    
          button.buttonMinus.eachButton(value = '-') -
          button.buttonPlus.eachButton(value = '+') +
          button.buttonDot.eachButton(value = '.') .
          button.buttonResult.eachButton(value = '=') =
          button.buttonC.eachButton(value = 'clear') C
  
.signature Made by: 
 span PAULO RAONI
  